.about-content {
    padding: 119px 290px 100px 290px;
    text-align: center;
    @include media-laptop {
        padding: 100px 0;
    }
    @include media-tablet {
        padding: 50px 0;
    }
}

.about__desciription {
    line-height: 26px;
    color: #727272;
    padding-top: 50px;
    
}
