* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    margin: 0 auto;
    font-size: 1.6rem;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

a {
    cursor: pointer;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    @include media-laptop {
        max-width: 850px;
    }
    @include media-tabletbig {
        max-width: 700px;
    }
    @include media-tablet {
        max-width: 600px;
    }
    @include  media-mobile {
        max-width: 360px;
    }
}

button {
    cursor: pointer;
    background: #34547a;
    border: none;
    color: #ffffff;
    padding: 25px 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    @include media-tabletbig {
        padding: 20px 35px;
    }
}

.title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 37px;
}

