#contact {
    background: #EEEFF1;
    padding: 100px 0 120px;
    text-align: center;
    @include media-tablet {
        padding: 50px 0;
    }
}

.contact__description {
    line-height: 26px;
    color: #727272;
    padding: 50px 280px;
    @include media-laptop {
        padding: 50px 0;
    }
}

form {
    padding: 0 280px;
    @include media-laptop {
        padding: 0;
    }
    input {
        width: 100%;
        height: 50px;
        border: none;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    ::placeholder {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 23px;
        color: rgba(19, 39, 67, 0.5);
       
    }
}

.form-name {
    display: flex;
    justify-content: space-between;
    :nth-child(1) {
        margin-right: 20px;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 70px;
    ::placeholder {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 23px;
        color: rgba(19, 39, 67, 0.5);
       
    }
}